@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  @apply duration-300 ease-in-out hover:scale-125;
}

.header {
  @apply fixed z-50 flex min-w-full bg-white px-5 py-5 shadow-md dark:bg-light-navy-blue lg:flex lg:min-h-fit lg:flex-row lg:items-center lg:justify-between lg:px-20 xl:px-52;
}

.footer {
  @apply min-w-full bg-navy-blue px-5 py-5 text-white shadow-md dark:bg-light-navy-blue dark:text-white lg:min-h-fit lg:px-20 xl:px-52;
}

.section {
  @apply bg-white px-2 text-navy-blue dark:bg-navy-blue dark:text-semi-white lg:px-20 xl:px-52;
}

.section-v2 {
  @apply bg-semi-white px-2 text-navy-blue dark:bg-light-navy-blue dark:text-semi-white lg:px-20 xl:px-52;
}

.section-inverted {
  @apply bg-navy-blue px-2 text-white dark:bg-light-navy-blue lg:px-20 xl:px-52;
}

/* Buttons */
.primary-btn {
  @apply whitespace-nowrap rounded-md bg-navy-blue px-6 py-2 font-semibold text-white duration-300 hover:scale-105 hover:bg-light-navy-blue dark:bg-white dark:text-navy-blue dark:hover:bg-gray-100;
}

.secondary-btn {
  @apply whitespace-nowrap rounded-md border-2 border-navy-blue px-6  py-2 font-semibold text-navy-blue duration-300 hover:scale-105  hover:bg-gray-100 dark:border-white dark:text-white dark:hover:bg-navy-blue;
}

.tertiary-btn {
  @apply whitespace-nowrap rounded-md border-navy-blue px-6 py-2 font-semibold text-navy-blue  duration-300 hover:scale-105 hover:bg-gray-100 dark:text-white dark:hover:bg-navy-blue;
}

.view-code-btn {
  @apply whitespace-nowrap rounded-md bg-white px-5 py-2 text-xs font-semibold text-navy-blue duration-300 hover:scale-105 hover:bg-gray-100  dark:bg-white;
}
.live-site-btn {
  @apply whitespace-nowrap rounded-md border bg-transparent px-5 py-2 text-xs font-semibold text-white  duration-300 hover:scale-105;
}

/* Nav */
.nav-menu {
  @apply whitespace-nowrap px-5 py-2 font-semibold uppercase duration-300 hover:rounded-full hover:bg-semi-white hover:font-semibold  dark:hover:bg-navy-blue md:hover:scale-105;
}

/* Sections' Components */

/* About */
.about-tab {
  @apply whitespace-nowrap rounded-full bg-navy-blue  px-5 py-2  font-semibold text-white duration-300 hover:scale-105 dark:bg-navy-blue;
}

.about-tab-active {
  @apply bg-semi-white font-semibold text-navy-blue duration-300 hover:scale-110 dark:bg-semi-white dark:text-navy-blue;
}

.accomplishment {
  @apply flex items-center justify-center gap-2 rounded-full bg-semi-white px-5 py-2 text-navy-blue dark:bg-navy-blue dark:text-semi-white md:min-w-max;
}

/* Skills */
.skill-technology {
  @apply flex items-center justify-center gap-2 rounded-full bg-white px-5 py-2 font-semibold duration-300 hover:font-bold hover:shadow-md dark:bg-navy-blue;
}

.skill-filter {
  @apply flex cursor-pointer items-center justify-center gap-2 rounded-full px-5 py-2 hover:scale-105;
}

.skill-filter-active {
  @apply bg-navy-blue font-bold text-white dark:bg-white dark:text-navy-blue;
}

/* Custom Animation */

.hover-underline-animation {
  @apply relative inline-block text-semi-white;
}

.hover-underline-animation::after {
  @apply absolute bottom-0 left-0 h-0.5 w-full origin-bottom-right scale-x-0 bg-semi-white transition-transform duration-[0.25s] ease-[ease-out] content-[''] dark:bg-white;
}

.hover-underline-animation:hover::after {
  @apply origin-bottom-left scale-x-100;
}
