@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  @apply duration-300 ease-in-out hover:scale-125;
}

.header {
  @apply fixed z-30 flex min-w-full bg-neutral-white px-5 py-5 shadow-md dark:bg-light-neutral-black lg:flex lg:min-h-fit lg:flex-row lg:items-center lg:justify-between lg:px-20 xl:px-52;
}

.footer {
  @apply min-w-full bg-neutral-black px-5 py-5 text-center text-neutral-white shadow-md dark:bg-light-neutral-black dark:text-neutral-white lg:min-h-fit lg:px-20 xl:px-52;
}

.section {
  @apply bg-neutral-white px-5 text-neutral-black dark:bg-neutral-black dark:text-dark-neutral-white lg:px-20 xl:px-52;
}

.section-v2 {
  @apply bg-dark-neutral-white px-5 text-neutral-black dark:bg-light-neutral-black dark:text-dark-neutral-white lg:px-20 xl:px-52;
}

.section-inverted {
  @apply bg-neutral-black px-5 text-neutral-white dark:bg-light-neutral-black lg:px-20 xl:px-52;
}

/* Buttons */
.primary-btn {
  @apply whitespace-nowrap rounded-md bg-neutral-black px-6 py-2 font-semibold text-neutral-white duration-300 hover:scale-105 hover:bg-light-neutral-black dark:bg-neutral-white dark:text-neutral-black dark:hover:bg-gray-100;
}

.secondary-btn {
  @apply whitespace-nowrap rounded-md border-2 border-neutral-black px-6 py-2 font-semibold text-neutral-black duration-300 hover:scale-105  hover:bg-gray-100 dark:border-neutral-white dark:text-neutral-white dark:hover:bg-neutral-black;
}

.tertiary-btn {
  @apply whitespace-nowrap rounded-md border-neutral-black px-6 py-2 font-semibold text-neutral-black  duration-300 hover:scale-105 hover:bg-gray-100 dark:text-neutral-white dark:hover:bg-neutral-black;
}

.view-code-btn {
  @apply whitespace-nowrap rounded-md bg-neutral-white px-5 py-2 text-xs font-semibold text-neutral-black duration-300 hover:scale-105 hover:bg-gray-100  dark:bg-neutral-white;
}
.live-site-btn {
  @apply whitespace-nowrap rounded-md border bg-transparent px-5 py-2 text-xs font-semibold text-neutral-white  duration-300 hover:scale-105;
}

/* Nav */
.nav-menu {
  @apply whitespace-nowrap px-5 py-2 font-semibold uppercase duration-300 hover:rounded-full hover:bg-dark-neutral-white hover:font-semibold  dark:hover:bg-neutral-black md:hover:scale-105;
}

/* Sections' Components */

/* About */

.about-tab {
  @apply whitespace-nowrap rounded-full bg-neutral-black  px-5 py-2  font-semibold text-neutral-white duration-300 hover:scale-105 dark:bg-neutral-black;
}

.about-tab-active {
  @apply bg-dark-neutral-white font-semibold text-neutral-black duration-300 hover:scale-110 dark:bg-dark-neutral-white dark:text-neutral-black;
}

.accomplishment {
  @apply flex items-center justify-center gap-2 rounded-full bg-dark-neutral-white px-5 py-2 text-neutral-black dark:bg-neutral-black dark:text-dark-neutral-white md:min-w-max;
}

/* Skills */
.skill-technology {
  @apply flex items-center justify-center gap-2 rounded-full bg-neutral-white px-5 py-2 font-semibold duration-300 hover:font-bold hover:shadow-md dark:bg-neutral-black;
}

.skill-filter {
  @apply flex w-auto cursor-pointer items-center justify-center gap-2 rounded-full px-5 py-2 hover:scale-105;
}

.skill-filter-active {
  @apply bg-neutral-black font-bold text-neutral-white dark:bg-neutral-white dark:text-neutral-black;
}

/* Custom Animation */

.hover-underline-animation {
  @apply relative inline-block text-dark-neutral-white;
}

.hover-underline-animation::after {
  @apply absolute bottom-0 left-0 h-0.5 w-full origin-bottom-right scale-x-0 bg-dark-neutral-white transition-transform duration-[0.25s] ease-[ease-out] content-[''] dark:bg-neutral-white;
}

.hover-underline-animation:hover::after {
  @apply origin-bottom-left scale-x-100;
}

.hover-underline-animation-inverted {
  @apply relative  text-neutral-black dark:text-neutral-white;
}

.hover-underline-animation-inverted::after {
  @apply absolute -bottom-1 left-0 h-0.5 w-full origin-bottom-right scale-x-0 bg-neutral-black transition-transform duration-[0.25s] ease-[ease-out] content-[''] dark:bg-neutral-white;
}

.hover-underline-animation-inverted:hover::after {
  @apply origin-bottom-left scale-x-100;
}
