@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  @apply duration-300 ease-in-out hover:scale-125;
}

.primary-btn {
  @apply flex-1 whitespace-nowrap rounded-md bg-navy-blue px-6 py-2 font-semibold text-white duration-300 hover:scale-105 hover:bg-light-navy-blue dark:bg-white dark:text-navy-blue dark:hover:bg-gray-100;
}

.secondary-btn {
  @apply flex-1 whitespace-nowrap rounded-md border-2 border-navy-blue px-6  py-2 font-semibold text-navy-blue duration-300 hover:scale-105  hover:bg-gray-100 dark:border-white dark:text-white dark:hover:bg-navy-blue;
}

.tertiary-btn {
  @apply flex-1 whitespace-nowrap rounded-md border-navy-blue px-6 py-2 font-semibold text-navy-blue  duration-300 hover:scale-105 hover:bg-gray-100 dark:text-white dark:hover:bg-navy-blue;
}

.nav-menu {
  @apply whitespace-nowrap px-5 py-2 font-semibold uppercase duration-300 hover:rounded-full hover:bg-semi-white hover:font-semibold dark:hover:bg-light-navy-blue md:hover:scale-105;
}
